<%= f.label(:included_verbs, class: 'col-sm-2') %>
<div class="col-sm-10" data-source="included">
  <%= text_field_tag(:included, nil, class: 'x-autocomplete') %>
  <%= f.hidden_field(:included_verbs, class: 'x-verbs-hidden') %>
  <div class="x-verbs-result">
	 	<%= render partial: "exercise_settings/elements/verb", collection: presenter.included_verbs, as: :verb %>
  </div>
</div>
